* {
    box-sizing: border-box;
    margin: 0;

}



.page--wrapper {
    max-width: 1440px;
    display: grid;
    place-content: center;
    margin: auto;

    @include respond-below(md) {
      margin: 0;
    }
}

.header {
    display: flex;
    gap: 215px;
    margin-top: 110px;
    max-width: 100%;
    @include respond-below(md) {
      flex-direction: column;
      gap: 60px;
    }
}

.header--title {
    font-family: 'PT Serif', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -0.045em;
    color: #000;
    @include respond-below(md) {
        margin-top: 10px;
    }
}

.header--subtitle {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px; 
    /* identical to box height */

    text-transform: uppercase;
    color: #000;
}

.header--text {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #000;
    max-width: 439px;
}

.hero--wrapper {
    display: grid;
    place-content: center;
    grid-template-columns: repeat(3, auto);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 80px;
    max-width: 1440px;
    margin: 96px auto;
    width: 100%;
    margin-bottom: 0;
        @include respond-below(md) {
          grid-template-columns: repeat(2, auto); 
          margin: 30px auto;
        }

}

.card--img {
    height: 400px;
}

.card3 {
    grid-column: 2/3;
    grid-row: 1/1;
    margin-top: 75px;
}

.card5 {
    grid-column: 2/3;
    grid-row: 2/2;
    margin-top: 75px;
}

.card--wrapper {
    width: 270px;
    place-self: center;
}

.card--name {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */
    color: #000;

}

.card--position {
    font-family: 'PT Serif', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height */
    writing-mode: vertical-lr;
    text-transform: uppercase;
    color: #000;
    float: right;
    
}

.page--foter {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    color: #A9A9A9;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 115px;
}